#canvas{
    background-color: red;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    width: 40vw;
    height: 50vh;
    margin: 50px auto 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#button{
    text-align: center;
    width: 100px;
    height: 5vh;
    margin: 50px auto 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    border-radius: 5px;
    border-style: none;
    display: block;
    margin: auto;
    font-size: 1rem;

}
button:active {
    transform: translateY(5px);
  }